</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Forest Of Savior!!</h1>
    <a href="/about">^?^</a>

    <img src="https://i.pinimg.com/736x/0d/c6/13/0dc6137a93ffde77d07fbf78583bba8c.jpg" 
    alt="Foto Yamada Manga" 
    class="center-image"
    style="display: block; margin: 0 auto;"
    width="300" 
    height="300">


    <h2>Enter Your Identity :</h2>
    <form action="/submit" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name">
        <br>
        <label for="nim">NIM:</label>
        <input type="text" id="nim" name="nim" placeholder="Enter your NIM">
        <br>
        <label for="hobby">Hobby:</label>
        <input type="text" id="hobby" name="hobby" placeholder="Enter your hobby">
        <br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" placeholder="Enter your age">
        <br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>